.header{
  min-height: 50px;
  background-color: rgba(#000, .6);
}
.headerWrapper{
  composes: container from '../index.scss';
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}