.contact {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .form {
    max-width: 500px;
    margin: 0 auto;

    .field {
      margin-bottom: 30px;
      position: relative;

      &.focus{
        .fieldTitle {
          opacity: 1;
          font-size: 14px;
          top: -10px;
          color: #00bcd4;
        }
      }

      .fieldTitle{
        position: absolute;
        left: 10px;
        top: 50%;
        font-size: 18px;
        transform: translateY(-50%);
        opacity: .5;
        transition: .3s;
      }

      input,
      textarea {
        position: relative;
        border: transparent;
        background-color: transparent;
        width: 100%;
        outline: none;
        padding: 5px 10px;
        box-shadow: 0 2px 0 0 #ededed;
        transition: box-shadow .3s;

        &:focus{
          box-shadow: 0 2px 0 0 #222;
        }
      }
      .filled{
        box-shadow: 0 2px 0 0 #222;
      }

      textarea {
        resize: none;
        min-height: 100px;
      }
    }

    .btn {
      text-align: center;
    }

    button {
      width: 100px;
      border: none;
      background-color: #393939;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      color: #ffffff;
      transition: background-color .3s;

      &:hover {
        background-color: #222222;
      }
    }
  }
}

.title {
  composes: title from '../index.scss';
  margin-bottom: 30px;
}

.contactBox {
  composes: container from '../index.scss';
}