.contact {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  composes: title from '../index.scss';
  margin-bottom: 30px;
}

.contactBox {
  composes: container from '../index.scss';
}