.nav {
  composes: container from '../index.scss';
  display: flex;
  height: 100%;

  .list {
    margin-left: auto;
    display: flex;
    align-items: center;

    li {
      & + li {
        margin-left: 15px;
      }

      a {
        font-size: 18px;
        color: #fff;
      }
    }
  }
}